* {
    padding: 0px;
    margin: 0px;

}

body {
    background-color: lightblue;
}

.body2 {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.header h1 {
    color: blue;
    font-size: 30px;
    font-family: cinzel;
    font-weight: 900;
    padding: 20px;
    margin-left: 40px;
}

.header p {
    color: rgb(54, 54, 219);
    font-size: 30px;
    font-weight: 900;
    padding: 0px 5px 20px 70px;
}

.header h6 {
    font-size: 22px;
    color: grey;
    float: right;
    margin-top: -100px;
    margin-right: 80px;
}

.mid {
    margin-left: 40px;
    margin-right: 40px;
}

.mid .box {
    background-color: black;
    height: 80%;
    width: 100%;
}

.box h1 {
    color: white;
    font-family: normal;
    font-weight: 100;
    padding: 18% 38% 20% 36%;
    font-size: 80px;
}

.para {
    background-color: blue;
}

.para #p1 {
    color: white;
    text-align: center;
    font-family: monospace;
}

.para #p2 {
    color: white;
    text-align: center;
    font-family: monospace;
}

.about h4 {
    margin: 25px 5px 5px 20px;
}

.about h4 {
    color: blue;
    font-size: 28px;
    font-family: monospace;
}

.about #p1 {
    color: grey;
    margin-left: -50px;
}

.about #p2 {
    color: grey;
    margin-left: -50px;
}

.about #p3 {
    color: grey;
    margin-left: -50px;
}

.about #p4 {
    color: grey;
    margin-left: -50px;
}

.form-control {
    float: right;
    border-radius: 9px;
    margin-top: -250px;
    margin-right: 40px;
    background-color: rgb(54, 104, 54);
}

form {
    padding: 20px;
}

.form-control .line {
    border-bottom: 2px solid grey;
    margin: 40px 30px 10px 30px;
}

.form-control h2 {
    padding: 10px 0px 20px 30px;
    color: white;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.form-control p {
    color: black;
    padding: 10px 0px 0px 30px;
    letter-spacing: 2px;
    font-family: sans-serif;
}

#text,
#number {
    width: 45%;
    border-radius: 5px;
    text-align: center;
    font-size: 19px;
}